<h2>Listing Teams</h2>

<table>
  <tr>
    <th>Name</th>
    <th>Year</th>
	<th>Rating</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @teams.sort_by(&:weighted_rating).reverse.each do |team| %>
  	<tr>
    	<td><%= team.name %></td>
	    <td><%= team.year %></td>
		<td>
		<% unless team.ratings.blank? %>
			<%= team.weighted_rating %>
		<% end %>
	    </td>
		<td><%= link_to 'Show', team %></td>
		<% if current_user %>
		    <td><%= link_to 'Edit', edit_team_path(team) %></td>
		    <td><%= link_to 'Destroy', team, :confirm => 'Are you sure?', :method => :delete %></td>
  		<% end %>
	</tr>
<% end %>
</table>

<br />

<%= link_to 'New Team', new_team_path %>
