<p id="notice"><%= notice %></p>
<div class="entry-options">
	<% if current_user %>
		<%= link_to 'Edit', edit_team_path(@team) %> |
	<% end %>
	<%= link_to 'Back', teams_path %>
</div>
<div id="teams" class="parent-show">
	<h1><%= @team.name %></h1>
	<div id="team-rating">
		<div id="rating-values">
			<img src="/images/rating_new_bg.png" />																	
		</div>
		<span class="rating">
				<% unless @team.ratings.blank? %>
				<%= @team.weighted_rating %>
	  		<% end %>
		</span>	
	</div>
	<div id="details">
	  <strong>City:</strong>
	  <%= @team.city %> |
	  <strong>Country:</strong>
	  <%= @team.country %> |	
	  <strong>Year:</strong>
	  <%= @team.year %>	
	</div>
	<div id="team-content">
		<%= @team.content %>
	</div>
</div>
<div id="associations">
	<div class="child-show">
		<h2>Managers</h2>
		<ul>
		<% if @team.managers.any? %>
			<% @team.managers.each do |manager| %>
				<li class="manager"><%= link_to manager %></li>
			<% end %>
		<% end %>
		</ul>
	</div>
	<div class="child-show">
		<h2>Players</h2>
		<ul>
		<% if @team.players.any? %>
			<% @team.players.each do |player| %>
				<li class="player"><%= link_to player %></li>
			<% end %>
		<% end %>
		</ul>
	</div>
</div>
<%= render 'ratings/new', :rateable => @team %>
