<h2>Listing managers</h2>

<table>
  <tr>
    <th>First name</th>
    <th>Last name</th>
    <th>Content</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @managers.each do |manager| %>
  <tr>
    <td><%= manager.first_name %></td>
    <td><%= manager.last_name %></td>
    <td><%= manager.content %></td>
    <td><%= link_to 'Show', manager %></td>
    <td><%= link_to 'Edit', edit_manager_path(manager) %></td>
    <td><%= link_to 'Destroy', manager, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Manager', new_manager_path %>
