<p id="notice"><%= notice %></p>
<div class="entry-options">
	<% if current_user %>
		<%= link_to 'Edit', edit_manager_path(@manager) %> |
	<% end %>
	<%= link_to 'Back', managers_path %>
</div>
<div id="managers" class="parent-show">
	<p>
	  <b>First name:</b>
	  <%= @manager.first_name %>
	</p>

	<p>
	  <b>Last name:</b>
	  <%= @manager.last_name %>
	</p>

	<p>
	  <b>Content:</b>
	  <%= @manager.content %>
	</p>
	<p class="rating">
	  <b>Rating:</b>
	  <% unless @manager.ratings.blank? %>
		<%= @manager.weighted_rating %>
	  <% end %>
	</p>
</div>
<div id="associations">
	<div class="child-show">
		<h2>Teams</h2>
		<ul>
		<% if @manager.teams.any? %>
			<% @manager.teams.each do |team| %>
				<li class="player"><%= link_to team %></li>
			<% end %>
		<% end %>
		</ul>
	</div>
</div>

<%= render 'ratings/new', :rateable => @manager %>