<%= form_for [rateable, Rating.new] do |f| %>
<% unless @rateable.nil? %>
<% if @rating.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@rating.errors.count, "error") %> prohibited this rating from being saved:</h2>

    <ul>
    <% @rating.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>
<% end %>
  <p>
    <%= f.label :rating_value %><br />
    <%= f.text_field :rating_value %>
  </p>
  <p><%= f.submit "Submit" %></p>
<% end %>