<!DOCTYPE html>
<html>
<head>
  <title>Atgdb</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :all %>
  <%= csrf_meta_tag %>
</head>
<body>
		<div id="header">
			<div class="container">
				<img src="/images/logo.png" id="logo" />
				<div id="navigation">
					<ul>
						<li><%= link_to("Players", :players) %></li>
						<li><%= link_to("Managers", :managers) %></li>
						<li><%= link_to("Teams", :teams) %></li>
					</ul>
				</div>
				<div id="user_nav">
				  <% if current_user %>
				    <%= link_to "View Profile", current_user %> |
				    <%= link_to "Logout", logout_path %>
				  <% else %>
				    <%= link_to "Register", new_user_path %> |
				    <%= link_to "Login", login_path %>
				  <% end %>
				</div>			
			</div>
		</div>
		<div id="content">
			<div class="container">
					<div class="content-nudge">
						<%= yield %>
					</div>
			</div>
		</div>
</body>
</html>